In [13]:
import pandas as pd
import matplotlib as plt
import json

In [27]:
df_temp = pd.read_csv('temporary_results.csv', header=0)

df_temp

,DOI,name,adsorbent,adsorbate,T,Punit,adsorption_unit,Pmin,Umin,Pmax,...,BET SA,Langmuir SA,CSD Ref code assignment (ref code/one),Reproduce?,Other issue,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,10.1039c1cc12858b,10.1039C1cc12858b.isotherm1.json,FJI-1,Nitrogen,77,bar,cm3(STP)/g,0.00182509,6.24214,0.985018,...,4043.0,4624.0,IYOWID,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,10.1039c1cc12858b,10.1039C1cc12858b.isotherm2.json,FJI-1,Hydrogen,77,bar,wt%,0.661183,0.15197,61.628200,...,4043.0,4624.0,IYOWID,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,10.1039c1cc12858b,10.1039C1cc12858b.isotherm3.json,FJI-1,Hydrogen,77,bar,wt%,0.661183,0.738329,61.928500,...,4043.0,4624.0,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN
3,10.1039c1cc12858b,10.1039C1cc12858b.isotherm4.json,FJI-1,Hydrogen,77,bar,wt%,0.00421011,0.0135394,0.905619,...,4043.0,4624.0,IYOWID,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4,10.1039c1cc12858b,10.1039C1cc12858b.isotherm5.json,FJI-1,Methane,273,bar,mg/g,5.23761,43.1055,105.463000,...,4043.0,4624.0,IYOWID,Yes,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4675,10.1002chem.201405168,10.1002chem.201405168.Isotherm1.json,[La(TATAB)(H2O)].6H2O,Hydrogen,77,bar,cm3(STP)/g,0.002377,5.45252,1.119500,...,1074.0,NaN,PUJJEL,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4676,10.1002chem.201405168,10.1002chem.201405168.Isotherm2.json,[La(TATAB)(H2O)].6H2O,Carbon Dioxide,273,bar,cm3(STP)/g,0,0,1.152830,...,1074.0,NaN,PUJJEL,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4677,10.1002chem.201405168,10.1002chem.201405168.Isotherm3.json,[La(TATAB)(H2O)].6H2O,Carbon Dioxide,298,bar,cm3(STP)/g,0,0,1.069380,...,1074.0,NaN,PUJJEL,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4678,10.1002chem.201405168,10.1002chem.201405168.Isotherm4.json,[La(TATAB)(H2O)].6H2O,Methane,273,bar,cm3(STP)/g,0,0,1.115150,...,1074.0,NaN,PUJJEL,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4679,10.1002chem.201405168,10.1002chem.201405168.Isotherm5.json,[La(TATAB)(H2O)].6H2O,Methane,298,bar,cm3(STP)/g,0,-0.021505,1.114900,...,1074.0,NaN,PUJJEL,Yes,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_sa = df_temp[['CSD Ref code assignment (ref code/one)', 'BET SA', 'Langmuir SA']]

df_sa.dropna(subset=['CSD Ref code assignment (ref code/one)'], inplace=True)

df_sa.drop_duplicates(subset=['CSD Ref code assignment (ref code/one)'], inplace=True)

<ipython-input-28-62384a7845e1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sa.dropna(subset=['CSD Ref code assignment (ref code/one)'], inplace=True)
<ipython-input-28-62384a7845e1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sa.drop_duplicates(subset=['CSD Ref code assignment (ref code/one)'], inplace=True)

In [29]:
import numpy as np

final_ref = []
final_sa = []

refs = df_sa['CSD Ref code assignment (ref code/one)'].tolist()
bets = df_sa['BET SA'].tolist()
langmuirs = df_sa['Langmuir SA'].tolist()
langmuir_subset = []
for i, j, k in zip(refs, bets, langmuirs):
    if ' ' in i:
        continue
    else:
        if np.isnan(j) and not np.isnan(k):
            #print(i, j, k)
            langmuir_subset.append(i)
            final_ref.append(i)
            final_sa.append(k)
        elif np.isnan(j) and np.isnan(k):
            continue
        else:
            final_ref.append(i)
            final_sa.append(j)
            
print(final_ref)            
print(final_sa)

['IYOWID', 'WEBREC', 'TEMPAE', 'TEMPEI', 'LIDWIG', 'CUVWEW', 'DEYVUA', 'EBEWOZ01', 'YEYBOV', 'ZUCKIT', 'POBMOJ01', 'IGINIX', 'IGINOD', 'PUYREH', 'TIRQOB', 'RUGZAW', 'XIGFOJ', 'ALAMUW', 'PUSDIR', 'CIFMIP', 'CIFMEL', 'CIFMAH', 'CIFLUA', 'BUYDAC', 'BUYDEG', 'LASYOU', 'MIHHAN', 'UMEMAB', 'FULYIW', 'LODTEF01', 'BAKJEE', 'BAKJOO', 'XITYOP', 'BOVHEB', 'QIHXIQ', 'VETMIS', 'QOTBAE', 'TIVHAJ', 'SAKNOJ', 'CUYWUP', 'FECZAQ', 'FECYOD', 'FECYUJ', 'EFESEP', 'EFESIT', 'EFESOZ', 'ZARZAV', 'MARNOK', 'LEVLEF', 'MUDKOM', 'AHORAR', 'GAGZEV', 'QOCBEQ', 'FANWOI', 'ECASOS', 'CENPUI', 'CENQAP', 'VICLAW', 'REWNEO', 'AHOLAM', 'CIJBEE', 'VUMBOW', 'VUMBIQ', 'TISHAF', 'KEDQAN', 'XIFHIF', 'DUBXOP', 'QOPZIF', 'ZUJKAS', 'HIYGIH', 'ACUFEK', 'JAMSIC', 'JAMSOI', 'BUBJUF', 'NUVYEK', 'NUVXOT', 'NUVYIO', 'NUVYAG', 'YUGLES', 'CUGXAF', 'NOKLIJ', 'KACZIZ', 'KACZEV', 'VITHIR', 'YUVSUE', 'EQERAU', 'DAZCAK', 'ECOLEP', 'NIMXIS', 'VEBHUG', 'BIDPOV', 'XUBGUY', 'TONQOD', 'AHOZII', 'COJHIT', 'YIJYOH', 'LASDEQ', 'TISPAO', 'KANMIX', 'QOZSIJ', 'NEXVET', 'HUJGEA', 'BIYTEJ', 'PEMREG', 'KETHEY02', 'DOZCEC', 'OYUJUO', 'RIDGIW', 'PATWOY', 'FECXES', 'FECXAO', 'GIYJAB', 'FIDRIV', 'FUFBEP', 'EHIJAH', 'EQETAX', 'JUXFOZ', 'SERLEI', 'LENKIA', 'WOGHEG', 'XALXUF', 'MEHMET', 'PEMRIK', 'KIDVIE', 'UZARUK', 'YAZFOW', 'LUKLIN', 'KAFTUI', 'OGOJAX', 'WOBQEL', 'FOTNIN', 'UXINUL', 'BOYCEY', 'BUFPIC', 'OHUKIM', 'HANWAW', 'COZMUA', 'EWUCOP', 'OTAXOX', 'KEQJEX', 'QEJYIP', 'PEQWAK', 'XIVTED', 'OGEBAF01', 'XOXMED', 'RUHDEF', 'XUXPUD', 'MACHIJ', 'DOKDEN', 'UTULUR', 'MAKXAZ', 'WAGYUA', 'GEGDED', 'SARNOQ', 'BUSQIQ', 'XULGIW', 'ISOJOQ', 'YOTHEW', 'OPENUT', 'PUJJEL']
[4043.0, 101.0, 1735.0, 1041.0, 95.5, 20.0, 403.0, 585.0, 385.0, 2400.0, 820.0, 196.0, 41.0, 625.0, 150.0, 415.0, 880.0, 2300.0, 824.0, 240.6, 17.4, 132.3, 121.6, 255.5, 288.7, 967.0, 790.0, 230.0, 36.0, 30.0, 900.0, 654.0, 1753.0, 387.0, 533.0, 961.0, 587.3, 155.0, 1067.0, 382.0, 1612.0, 1167.0, 1163.0, 736.0, 823.0, 818.0, 512.0, 72.0, 438.1, 782.0, 381.0, 6143.0, 141.2, 969.0, 69.0, 1457.0, 1457.0, 275.8, 3120.0, 27.0, 771.0, 1.1, 2.8, 1121.0, 588.0, 1005.6, 2052.0, 1062.0, 490.0, 2171.0, 3800.0, 584.0, 687.0, 125.0, 1410.0, 1600.0, 2420.0, 1380.0, 1852.0, 675.0, 1312.0, 1716.0, 1496.0, 330.0, 1040.0, 810.0, 1372.0, 202.0, 969.0, 3409.0, 2366.0, 1039.0, 796.0, 421.0, 2670.0, 7.52, 2010.0, 97.0, 1003.0, 1986.0, 3300.0, 2025.0, 279.0, 500.0, 231.31, 206.5, 1255.0, 900.0, 1356.2, 1115.0, 1014.0, 332.5, 407.5, 244.0, 2532.0, 969.8, 21.9, 2823.0, 734.0, 342.0, 2170.0, 2420.0, 1175.0, 420.0, 472.2, 1065.0, 4237.0, 378.0, 2297.0, 345.0, 2008.0, 32.0, 2960.0, 2930.0, 4030.0, 605.9, 356.0, 810.0, 120.0, 523.0, 498.2, 191.0, 2646.0, 3337.0, 400.0, 911.0, 3270.0, 1603.0, 1715.0, 63.0, 88.4, 90.11, 1733.0, 780.0, 308.0, 3940.6, 497.0, 781.0, 502.0, 1074.0]